<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryShiDiServlet</servlet-name>
    <servlet-class>servlet.QueryShiDiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImportExcel</servlet-name>
    <servlet-class>servlet.ImportExcel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FenyeServlet</servlet-name>
    <servlet-class>servlet.FenyeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>servlet.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HesuanServlet</servlet-name>
    <servlet-class>servlet.HesuanServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>QueryShiDiServlet</servlet-name>
    <url-pattern>/servlet/QueryShiDiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportExcel</servlet-name>
    <url-pattern>/servlet/ImportExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FenyeServlet</servlet-name>
    <url-pattern>/servlet/FenyeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/servlet/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HesuanServlet</servlet-name>
    <url-pattern>/servlet/HesuanServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
